* {
    margin: 0;
    padding: 0;
}
.hide{
    overflow: hidden;
}
.navbar {
    display: flex;
    position: sticky;
    top: 0;
    height: 50px;
    background-color: #031e3c;
}

.navLeft {
    width: 50%;
    text-align: left;
    align-items: center;
    background-color: #031e3c;
    color: rgb(255, 251, 251)
}

.navbar img {
    height: 40px;
    border: 5px solid black;
}
.navbar img:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition-duration: 0.6s;
}

.navLeft ul {
    list-style: none;
    display: flex;
   
}

.navLeft ul li {
    padding: 15px;
    justify-content: space-around;
}
/* .navLeft ul li:hover {
    transform: scale(1.11);
    transition-duration: 0.9;
} */

.navLeft ul li a {
    text-decoration: none;
    color: white
}
.navLeft ul li a:hover {
    cursor: pointer;
    color: #9c8321;
    display: inline-block;
    transform: scale(1.13);
    transition-duration: 0.5s;
}

.navRight {
    display: flex;
    width: 50%;
    text-align: right;
    background-color: #011B39;
    align-items: center;
    justify-content: right;
}

.navRight input {
    width: 290px;
    height: 25px;
    font-size: 25px;
    font-family: 'Darker Grotesque', sans-serif;
    border: none;
    padding-bottom: 6px;
    padding-left: 10px;
    border-radius: 10px;
}

.navRight button {
    width: 100px;
    height: 28px;
    background: none;
    color: white;
    border-color:white;
    border-width: 1px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    padding-bottom: 35px;
    /* border-radius: 9px; */
}

.burger {
    width: 50px;
    height: 28px;
    align-items: center;
    display: none;
    padding-bottom: 4px;
    padding-left: 5px;
}

.line {
    width: 35px;
    height: 6px;
    background-color: rgb(243, 240, 240);
    margin-top: 3px;
}

.div1 {
    background: url(images/div1.jpg) rgba(0,0,0,0.6);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    /* position: relative; */
    /* filter: brightness(50%); */
}
.para1{
    color: rgb(242, 231, 231);
    font-family: 'Pacifico', cursive;
    font-size: 15vw;
    text-align: center;
    padding-top: 80px;
}
.para2{
    font-family: 'Pacifico', cursive;
    font-size: 3.5vw;
    color: white;
    text-align: center;
    padding-bottom: 80px;
}
.div2{
    padding: 10px;
    background-color: bisque;
    background-color: #d1999f;
    /* height: 100px; */
    overflow: hidden;
    color: #031e3c;
}
.div2 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid black;
}
.para3{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 60px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    word-spacing: 8px;
}
.para4{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: none;
    line-height: 60px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    word-spacing: 8px;
}
.readmore{
    width: 100px;
    height: 29px;
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 30px;
    font-family: 'Cookie', cursive;
    font-size: 23px;
    border: 1px solid black;
    font-weight: bold;
    background-color: bisque;
    color: #031e3c;
    padding-bottom: 5px;
    align-items: center;
}
.readmore:hover{
    transform: scale(1.2);
    transition-duration: 0.6s;
    cursor: pointer;
}
.div3{
    width: 100%;
}
.one{
    background-color: #011B39;
    /* width: 50%; */
    text-align: center;
    line-height: 60px;

}
.one p{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: white;
    padding-top: 100px;
    word-spacing: 6px;
    /* margin-left: 150px; */
}
.line{
    width: 100%;
    height: 0.1px;
}
.two{
    background-color: #011B39;
    /* width: 50%; */
    text-align: center;
}
.two p{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: white;
    padding-top: 200px;
    word-spacing: 6px;
}
@media only screen and (max-width: 820px) {
    .navbar {
        flex-direction: column;
        width: 100%;


    }

    .navRight {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        /* transition: all 0.5s ease-in; */

    }

    .navLeft {
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        /* transition: all 0.5s ease-in; */
    }

    .navLeft ul {
        justify-content: center;
        flex-direction: column;
    }

    .navbar img {
        width: 80px;
        margin-bottom: 4px;
    }

    #search {
        width: 310px;
        margin: 6px;
    }

    .search {
        background-color: rgb(120, 231, 194);

    }

    .burger {
        display: block;
        background: none;
        cursor: pointer;
    }

    .v-class {
        opacity: 0;
    }

    .h-nav {
        height: 30px;
    }

}
